@import "tailwindcss";

/* =========================
   THEME TOKENS
========================= */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  /* --color-acient: var(--acient);
  --color-acientcool: var(--acientcool);
  --color-warning: var(--warning); */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
--font-marcellus: var(--font-marcellus);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

/* =========================
   LIGHT THEME
========================= */
:root {
  --radius: 0.625rem;

  --background: #ffffff;
  --foreground: #0f172a;

  --primary: #f1f1f0;
  --secondary: #0A151F;

  --acient: #4daa57;
  --acientcool: #796494;
  --warning: #ffc107;
    --font-marcellus: var(--font-marcellus);
}

/* =========================
   DARK MODE
========================= */
/* .dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary: #1e293b;
  --secondary: #020617;

  --acient: #4daa57;
  --acientcool: #a78bfa;
  --warning: #facc15;
} */

/* =========================
   BASE STYLES
========================= */
@layer base {
  body {
    @apply bg-background text-foreground;
     font-family: var(--font-marcellus), serif;
     /* font-family: var(--font-marcellus), serif; apply font globally */
  /* Arial, Helvetica, sans-serif  */
  }
}
